:root {
  --danger: rgb(220, 20, 60);
  --success: rgb(0, 128, 0);
}

.content {
  margin-top: 1em;
}

.icon {
  background: black;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  mask-size: cover;
}

.icon-trash {
  mask-image: url('/static/images/bootstrap/trash.svg');
}

.icon-trash:hover,
.icon-trash:focus {
  background: var(--danger);
}

.pagination {
  font-size: 32px;
}

.available {
  fill: var(--success);
}

.not-available {
  fill: var(--danger);
}

.delete-sprint-name:hover {
  color: var(--danger);
}

.sprint-info {
  display: flex;
  align-items: center;
  flex-direction: row
}

.icon-used {
  margin-right: 1em;
}
